 <IfModule mod_rewrite.c>
   RewriteEngine On
 
   # Allow real files and folders to load normally
   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteRule ^ - [L]
 
   # Everything else goes to React SPA entry
   RewriteRule ^ index.html [L]
 </IfModule>